/* PRIMARY COLOR */

$page-background-color: rgb(197, 228, 231); 
$first-color: rgb(0, 73, 77);
$second-color: rgb(38, 192, 171);
$third-color: rgb(255, 255, 255);

/* SECONDARY COLOR */

$error-color: rgb(182, 123, 109);
$text-color: #3f6264;

/* FONTS */
$first-font:"Space mono";
